doctype html
html
  head 
    title Knowledgebase
    link(rel='stylesheet', href='https://single-page-mdx.herokuapp.com/css/materialize.css', type="text/css", media="screen,projection")
    link(rel='stylesheet', href='https://single-page-mdx.herokuapp.com/css/style.css', type="text/css", media="screen,projection")
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')    
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0")
  
  body
    nav.light-blue.lighten-1(role="navigation")
        div.nav-wrapper.container
            a.brand-logo(id="logo-container", href="#")
                img(src="https://single-page-mdx.herokuapp.com/assets/logo.png", alt="", height="55px")
            ul.right.hide-on-med-and-down
                li 
                    a(href="/") Home
                li 
                    a(href="/register") Sign up
                li 
                    a(href="#") Profile
                li 
                    a(href="#") Posts
            ul.sidenav(id="nav-mobile")
                li 
                    a(href="#") Home
                li 
                    a(href="#") Sign up
                li 
                    a(href="#") Profile
                li 
                    a(href="#") Posts
            a.sidenav-trigger(href="#", data-target="nav-mobile")
                i.material-icons menu
    
    div.section.no-pad-bot(id="index-banner")
        div.container
            br
            br
            block content
            br
            br
            block post_btn

            a.waves-effect.red.waves-light.btn.modal-trigger(href="#modal1") Write article

            .modal.bottom-sheet(id="modal1")
                .modal-content
                    a.modal-close.waves-effect.waves-green.btn-flat.right.red-text(href="#!") Close
                        i.large.material-icons.red-text cancel
                    .row
                        .col.s12
                            .row
                                .input-field.col.m6.s12
                                    i.material-icons.prefix title
                                    input.validate(id="post_title", type="text")
                                    label(for="post_title") Post title
                                .input-field.col.m6.s12
                                    i.material-icons.prefix mode_edit
                                    texarea.materialize-textarea(id="post_body")
                                    label(for="post_body") Post body
                            .row
                                .file-field.input-field.col.m6.s12
                                    .btn.red.lighten-3
                                        span Attach picture
                                        input(type="file")
                                    .file-path-wrapper
                                        input.file-path.validate(type="text")
                                .col.m6.s12
                                    button.btn-large.waves-effect.red.waves-light.right(type="submit", name="action") Post
                                        i.material-icons.right comment


            br
            br
    footer.page-footer.orange
        div.container
            div.row.valign-wrapper 
                div.col.l6.s12 
                    img(src="https://single-page-mdx.herokuapp.com/assets/logo-white.png", alt="", height="85px")
                div.col.l3.s12 
                    h5.white-text Social Media 
                    ul 
                        li 
                            a.white-text(href="#") Link 1 
                div.col.l3.s12 
                    h5.white-text Links 
                    ul 
                        li 
                            a.white-text(href="#") Link 1 
        div.footer-copyright 
            div.container Made by
                a.orange-text.text-lighten-3(href="#")  Simon's network 

    .fixed-action-btn
        a.btn-floating.btn-large.red.modal-trigger(href="#modal1")
            i.large.material-icons mode_edit
    
    script(src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(scr="https://single-page-mdx.herokuapp.com/js/materialize.js")
    script(src="https://single-page-mdx.herokuapp.com/js/post-btn.js")
    script(src="https://single-page-mdx.herokuapp.com/js/init.js")

    

                                

                